-provide( :title, 'Happiness KPI | Home' )

%div{ :class => "modal", :id => "choices" }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %h2 How do you feel today?
      %div{ :class => "modal-body" }
        %section{ :id => "display" } %br
        %a{ :href => '/reports' }Reports

%script
  new happiness_kpi.appView
