%h2 How do you feel today?



-# TODO refactor
%script
  %img{ :src => "/assets/smiley.jpg", :alt => "happy", :id => "happy" }
  %img{ :src => "/assets/undecided.jpg", :alt => "undecided", :id => "undecided" }
  %img{ :src => "/assets/sad.jpg", :alt => "sad", :id => "sad" }
