-provide( :title, 'Happiness KPI | Charts' )

%div{ :id => "lineChart" }

%div{ :id => "barChart" }


%script
  new happiness_kpi.chartView
  new happiness_kpi.emotionsCollection
  new happiness_kpi.barChartView
  new happiness_kpi.allEmotionsCollection

